
body {
    background-color: rgb(15, 15, 15);
}


.container {
    margin: 10vh auto;
    width: 300px;
    height: 500px;
    align-items: center;
}

.screen {
    background-color: gray;
    margin-bottom: 0.3rem; 
    width: 300px; 
    height: 4rem; 
    border-radius: 15px;
    text-align: right;
}

.display {
    margin: auto;
    font-size: 3rem;
    font-family: roboto;
    padding: 5px 10px;
}

.grid-container {
    display: grid;
    gap: 0.3rem; 
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.button {
    border: 1px solid;    
    height: 4rem;
    border-radius: 15px;
    font-size: 1.5rem;
}

.operation {
    background-color: orange;
}

.clear {
    background-color: rgb(44, 44, 44);
    color: rgb(164, 164, 164)
}

button:active{
	border:1px solid black;
	background:none;
	outline:none;
	padding:0;
}
